/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

* {
  box-sizing: border-box;
}

html, body {
  color-scheme: light dark;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* CONTAINER AND GENERAL STYLES */

.page-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.mode {
  background-color: light-dark(#fff, #151516);
  color: light-dark(#000, #f4f4f5);
  position: absolute;
  width: 100vw;
  height: 100vh;
  transition: transform 0.5s ease;
  overflow: auto;
}

.page-container.notransition .mode {
  transition: none !important;
}

#add-mode {
  z-index: 1;
  padding: 0 10px;
}

#edit-mode {
  top: -100vh;
  z-index: 0;
  display: flex;
  flex-direction: row;
  max-width: max(800px, 90%);
  padding: 10px;
}

.page-container.edit #add-mode {
  transform: translateY(100%);
}

.page-container.edit #edit-mode {
  transform: translateY(100%);
}

#button-bar {
  position: sticky;
  top: 0;
  left: 20px;
  margin: 0;
  width: 100%;
}

#edit-spaces-button {
  border: 0;
  padding: 5px 20px;
  border-radius: 0 0 5px 5px;
  font-size: 1.2em
}

.noselect {
  user-select: none;
}

.hidden {
  display: none !important;
}

/* FORM STYLES */

button {
  padding: 5px;
  border: 1px solid light-dark(#bdc3c7, #383e42);
  border-radius: 4px;
  background: none;
}

button:hover {
  background-color: color-mix(in srgb, currentcolor, transparent 90%);
}

button:active {
  background-color: color-mix(in srgb, currentcolor, transparent 70%);
}

button.primary-button {
  padding: 5px 10px;
  background-color: AccentColor;
  color: AccentColorText;
  border: none;
}

button.primary-button:hover {
  background-color: color-mix(in srgb, AccentColor, black 20%);
}

button.primary-button:active {
  background-color: color-mix(in srgb, AccentColor, black 30%);
}


button.delete {
  padding: 5px 10px;
  background-color: light-dark(#dc2626, #ef4444);
  color: white;
  border: none;
}

button.delete:hover {
  background-color: color-mix(in srgb, light-dark(#dc2626, #ef4444), black 20%);
}

button.delete:active {
  background-color: color-mix(in srgb, light-dark(#dc2626, #ef4444), black 30%);
}


/* ADD SPACES */

.space-cards-container {
  display: flex;
  flex-flow: row wrap;
}

.space-cards-container .card {
  display: flex;
  align-items: center;
  width: 300px;
  gap: 10px;
  padding: 10px;
}

.space-cards-container .card:hover {
  background-color: color-mix(in srgb, currentcolor, transparent 90%);
}

.space-cards-container .card.selected {
  background-color: color-mix(in srgb, currentcolor, transparent 70%);
}

.space-cards-container .card:active {
  background-color: color-mix(in srgb, currentcolor, transparent 60%);
}

#add-space-popup {
  background-color: light-dark(#fff, #2c2c2d);
  color: light-dark(#000, #f4f4f5);
  position: absolute;
  border: 1px solid light-dark(#bdc3c7, #383e42);
  padding: 10px;
  box-shadow: 0 2px 10px light-dark(rgb(0 0 0 / 10%), #000);
  z-index: 10;
  width: 500px;
}

#add-space-popup:not(.attached) {
  display: none;
}

/* EDIT SPACES */

#edit-sidebar {
  background-color: light-dark(#e8e8e8, #18181b);
  color: -moz-dialogtext;
  border-radius: 10px 0 0 10px;
  overflow-y: auto;
  flex-shrink: 0;
}

#edit-spaces-list {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

#edit-spaces-list .space-item {
  padding: 7px;
  cursor: pointer;
  border-radius: 4px;
}

#edit-spaces-list .space-item > * {
  user-select: none;
}

@media (width <= 1000px) {
  #edit-spaces-list .space-item .name {
    display: none;
  }

  #edit-spaces-list .space-item {
    width: auto;
  }
}

#edit-new-space > .img {
  border: 1px dashed light-dark(#bdc3c7, #383e42);
  text-align: center;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  font-size: 2.5em;
  font-weight: 300;
}

#edit-spaces-list .space-item.selected {
  background-color: AccentColor;
  color: AccentColorText;
}

#edit-settings {
  flex: 1;
  padding: 20px;
  max-width: 700px;
}

#edit-settings h2 {
  margin: 0 0 20px;
}

.space-actions {
  display: flex;
  justify-content: end;
  gap: 5px;
}

#edit-settings.no-spaces #edit-space-settings,
#edit-settings.no-spaces .space-actions,
#edit-settings.no-spaces #edit-space-debug,
#edit-settings:not(.no-spaces) .no-spaces-info {
  display: none;
}
