/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  color-scheme: light dark;
}

input, button, select, textarea, .file-label {
  padding: 5px;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  background: none;
  font-size: 0.81rem;
}

.file-label {
  font-size: 0.81rem;
}

input[type="file"] {
  display: none;
}

button:hover, .file-label:hover {
  background-color: color-mix(in srgb, currentcolor, transparent 90%);
}

button:active, .file-label:active {
  background-color: color-mix(in srgb, currentcolor, transparent 70%);
}

.space-settings {
  display: grid;
  grid-template-columns: [label] auto [control] 1fr;
  grid-gap: 15px;
  align-items: center;
  margin-bottom: 10px;
}

.space-settings .nostretch {
  justify-self: start;
}

.space-settings > label {
  grid-column: label;
  justify-self: end;
  user-select: none;
}

.space-settings > label.top {
  align-self: start;
  padding-block-start: 5px;
  max-width: 7em;
  overflow-wrap: break-word;
  text-align: end;
}

.space-settings > input, .space-settings > select, .space-settings > textarea, .space-settings > .control {
  grid-column: control;
}

.space-settings > .control {
  display: flex;
  gap: 5px;
}

.space-settings > .row.end {
  grid-column: 1 / -1;
  justify-self: end;
}

.space-settings > .row.checkbox {
  grid-column: control;
  justify-self: stretch;
}

.space-settings > .row.checkbox > label {
  user-select: none;
}

.showfailure textarea:invalid,
.showfailure input:invalid,
textarea:invalid:focus,
input:invalid:focus {
  outline: 1px solid light-dark(#dc2626, #ef4444);
}


.custom-server-field .url-label {
  display: none;
  border: 0 solid #bdc3c7;
  align-items: center;
  font-size: 0.8rem;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 3px 5px;
  user-select: none;
}

.custom-server-field {
  display: flex;
  position: relative;
}

.custom-server-field > .url-prefix {
  border-inline-end-width: 1px;
  left: 0;
}

.custom-server-field > .url-suffix {
  border-inline-start-width: 1px;
	right: 0;
}

.custom-server-field.prefix > .url-prefix {
  display: flex;
}

.custom-server-field.suffix > .url-suffix {
  display: flex;
}

.custom-server,
.space-useragent {
  flex: 1;
}

.space-useragent-type[value="auto"] + .space-useragent {
  display: none;
}

:host(:not([advanced])) .advanced {
  display: none;
}
